!!!
%html
  %head
    %title mp3-report
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "vendor/jquery/jquery-1.9.1.min.js", :type => "text/javascript"}
    %script{:src => "vendor/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
  %body
    .container
      .content
        .row
          %h1.span12 mp3-report
          %hr.span12
        .row
          %h2.span12 Artists
        .row.span12
          .accordion#report_artists
            - report.each do |artist,albums|
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{ :href => "##{artist.hash}", :data => { :toggle => 'collapse', :parent => '#report_artists' } }
                    %strong= artist
                .accordion-body.collapse{ :id => "#{artist.hash}" }
                  .accordion-inner
                    .accordion#report_albums
                      - albums.each do |album,directories|
                        .accordion-group
                          .accordion-heading
                            %a.accordion-toggle{ :href => "##{(artist + album).hash}", :data => { :toggle => 'collapse', :parent => '#report_albums' } }
                              %strong= album
                          .accordion-body.in.collapse{ :id => "#{(artist + album).hash}" }
                            .accordion-inner
                              - directories.each do |directory,errors|
                                %p
                                  %strong Directory:
                                  %em.label.label-info= "#{directory}"
                                %p
                                  %strong Errors:
                                  %ul
                                    - errors.each do |error|
                                      %li
                                        %span.label.label-important= error
