!!!
%html
  %head
    %title mp3-report
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "vendor/jquery/jquery-1.9.1.min.js", :type => "text/javascript"}
    %script{:src => "vendor/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
  %body
    %h1 mp3-report
    %hr
    %h2 Artists
    %ul
      - report.each do |artist,albums|
        %li
          %strong= artist
          %ul
            - albums.each do |album,directories|
              %li
                %strong= album
                - directories.each do |directory,errors|
                  %em= "(#{directory})"
                  %ul
                    - errors.each do |error|
                      %li
                        %span.label.label-important= error
